body {
    margin: 0;
    padding: 0;
    font-family: arial;
    background: linear-gradient(180deg, black,rgb(13, 220, 339));
    height: 100vh;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 365px;
    background: white;
    border-radius: 30px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(18, 122, 122);
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(18, 122, 122);
}

input {
    text-align: left;
    background-color: rgb(251, 251, 251);
    font-size: 25px;
    width: 400px;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 0px 0px 0px 42px;
    outline: none;
}

.icono i{
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 20px;
}

.cuerpo {
    text-align: center;
}

button{
    background-color: rgb(18, 122, 122);
    color: rgb(236, 234, 234);
    width: 200px;
    height: 45px;
    font-size: 25px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(29, 173, 173);
}

h2 {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 38%;
}